/* COLORS */
:root {
  --green: #21ce99;
  --green-light: #1ae9aa;
  --orange: #f45531;
  --orange-light: #ff6340;
  --gray-dark: #1b1b1b;
  /* --gray-light: #8c8c8e; */
  --gray-light: #fafafa;

  /* --green: rgb(33, 206, 153); */
  /* --green-light: rgb(26, 233, 170); */
  /* --orange: rgb(244, 85, 49); */
  /* --orange-light: rgb(255, 99, 64); */
}

/* SERVICE */
#pab * {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
}

#pab h2 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
}

/* PEOPLE ALSO BOUGHT */
#pab {
  width: 676px;
}

.pab-row-container {
  display: flex;
  justify-content: space-between;
}

.pab-card {
  width: 128px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* EACH CARD */
.pab-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pab-price {
  margin: 25px 0 10px 0;
}

h2.pab-price[data-theme="light"], div.pab-percent-change[data-theme="light"] { color: var(--green); }

.pab-card[data-theme="light"]:hover { background-color: var(--gray-light); }
/* TODO: what is the dark theming? */
.pab-card[data-theme="dark"]:hover { background-color: var(--gray-light); }

.pab-card[data-theme="light"] { border: 1px solid var(--gray-light); }
/* TODO: what is the dark theming? */
.pab-card[data-theme="dark"] { border: 1px solid var(--gray-light); }

.pab-analysts-summary[data-theme="light"] { color: white }
/* TODO: what is the dark theming? */
.pab-analysts-summary[data-theme="dark"] { color: white }

.pab-rating-container {
  display: flex;
  align-items: end;
  margin: 0.3rem 0;
}

.price-tag {
  margin-right: 0.5rem;
}

/* TOOLTIP */
.pab-rating-container-tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  padding: 0.7rem 2.3rem;
  position: absolute;
  max-width: 8rem;
  height: 2rem;
  top: 4.5rem;
  margin-left: -2.3rem;
  border-radius: 0.3rem;
}

.active {
  visibility: visible;
  transition: all 1s;
}