/* SERVICE */
#pag {
  width: 676px;
}

.pab-row-container {
  display: flex;
  justify-content: space-between;
}

.pab-card {
  flex: 0 1 128px;
  border: 1px solid black;
  padding: 1rem;
}

/* CARD */
.pab-price {
  margin-top: 2rem;
}

.pab-card:hover {
  background-color: gray;
}

.pab-rating-container-tooltip {
  background-color: #FFC107;
  visibility: hidden;
  padding: 1rem;
  position: absolute;
  width: 160px;
  height: 40px;
}

.active {
  visibility: visible;
  transition: all 1s;
}